body {
  background-color: indianred;
  text-align: center;
  color: dodgerblue;
}

h1 {
    text-align: center;
    color: lightgray;
    font-family: sans-serif;
  font-size: 50px;
  margin: 10px;
}

h2 {
font-family: sans-serif;
  color: saddlebrown;
  background-color: darkcyan;
}

img {
  margin: auto;
  display: block;
  float: center;
}

p {
    text-align: left;
    font-family: fantasy;
    font-size: 14px;
}
